
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 30px;
        text-align: center;
    }

    h2,h3 {
        color: #333;
        margin-bottom: 20px;
        text-align:center;
    }

    form {
        background: white;
        width: 350px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        text-align: left;
    }

    label {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 7px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        margin-top: 15px;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    #greet {
        margin-top: 25px;
        font-size: 20px;
        color: #444;
    }

    #output {
        background: white;
        width: 350px;
        margin: 15px auto;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        text-align: left;
        font-size: 16px;
        line-height: 1.6;
    }
